#column1, #column2{
	display:inline-block;
	width:65%;
	vertical-align:top;
	margin-top: 1em;
}

#column2{
	width:30%;
	float:right;
}

p.description{ margin: 0.5em 0 1em 0;}

table{
	position: relative;
    left: -2px;
}
td{
	width:48%;
}
tr.message-input td{padding-right:0;}
tr.robot-input td{padding-bottom:0;}

input, textarea{width:100%;}

.thanks{ text-align:center; font-size:16pt;}

td div.primary-button{
	float:right;
	padding-left:3em;
	padding-right:3em;
}

#column2 p{
	margin: 0.2em 0
}

#column2 p.title{
	margin-top: 2em;
}

#column2 p.title:nth-child(1){
	margin-top: 0;
}

a.facebook {
    margin-top: 2em;
    display: inline-block;
}

a.facebook p:nth-child(2){color:black;}
