#profile-pic{
	width: 100%;
	background-image:url('../Images/about-pic.png');
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	margin-bottom: 10px;
}

a:hover{color: rgb(130, 202, 156);}