@font-face {
    font-family: Gothic;
    src: url("Questrial-Regular.ttf");
}
html{height: 100%}

body{
	font-family: Gothic, Sans-Serif;
	font-size: 0.8em;
     -webkit-font-smoothing: antialiased;
	padding: 0px;
	margin: 0px;
	position: relative;
	height: 100%;
	color: rgb(225, 225, 225);
	background-image: url("../Images/body-bkg2.png");
	box-sizing: border-box;
}

p{
	margin-top: 0;
	margin-bottom: 0;
}

a{
	text-decoration: none; 
	cursor: pointer;
	color: rgb(225, 225, 225);
}

.green{
	color: rgb(130, 202, 156);
}

.bold{
	font-weight: bold;
}

.full-width{width: 100%;}
.center-wrapper{
	height: 100%;
	padding-top: 65px;
	box-sizing: border-box;
    overflow: auto;
}
.center-main{
	margin:auto;
	box-sizing: border-box;
}

.block{
	background-color: rgba(0,0,0,0.96);
	padding: 13px;
	overflow: hidden;
	box-sizing: border-box;
}

.divider {text-align: center;}
.divider div{
	width: 40%;
	margin: 20px auto;
	height: 2px;
	background-color: white;
	display: inline-block;
}
.divider div.divider-green{
	background-color: rgb(130, 202, 156);
	margin-right: 5%;
}

.column1{
	width: 58%;
    display: inline-block;
    margin-right: 4%;
}
.column2{
	display: inline-block;
	width: 37%;
	vertical-align: top;
}

.page-title{
	font-size: 3em;
    margin: 25px 0;
    font-weight: 900;
    letter-spacing: 2px;
}

.section-title{
	font-size: 2.2em;
    margin: 25px 0 5px;
    font-weight: 900;
    letter-spacing: 3px;
}

.section-title span{
	font-size: 0.6em;
    vertical-align: middle;
    margin-right: 6px;
    display: inline-block;
    width: 1em;
}

.block-title{
	font-size: 1.5em;
	margin-bottom:10px;
}

.load-more{
	color: rgb(130, 202, 156);
	cursor: pointer;
	display: inline-block;
	border-bottom: 1px solid rgba(0,0,0,0);
	margin-top:10px;
}
.load-more:hover{
	border-bottom: 1px solid rgb(130, 202, 156);
}

.gradient{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -10;
	background-image: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.75));
}

.plus, .minus{
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;
}


/************************* Navbar ***********************/
.navbar{
	background-color: black;
	height: 70px;
	text-align: center;
	position: absolute;
	top: 0px;
}

.navlinks{
	padding-top: 28px;
    font-size: 1.2em;
}

.navlinks a{margin-right: 4%;}
.navlinks a:last-of-type{margin-right: 0px;}
.navlinks a:hover{color:rgb(130, 202, 156);}
.navlinks a.current{
	border-bottom: 1px solid rgb(130, 202, 156);
    padding-bottom: 2px;
}
/*********************** Footer Bar *********************/
.footer{
	height: 35px;
    bottom: 0px;
    background-color: black;
    position: absolute;
    width: 100%;
    text-align: center;
}

.footer .copyright{
	margin-top: 0px;
	padding-top: 13px;
}
.footer-filler{
	height:70px;
	width: 100%;
}

